---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="@OtterlyOmari | About"
	description="Lorem ipsum dolor sit amet"
	pubDate={new Date('March 4 2024')}
	heroImage="/blog-placeholder-about.jpg"
>
	<h1>Personal background</h1>
	<p>
		Hello! my name is Skylar A. Sweat, I'm an independent game developer, web developer, music producer,
		and content creator, on platforms including, but not limited to: YouTube, TikTok, Twitch and Twitter.
		I was born in the North American state of New York, in a small town called Suffern, but most of my childhood
		was spent in another small town, miles away from my birthplace known as Schenectady, I won't go into
		full detail, instead, let me just say that I spent the first 7 years of my life there, before moving down
		to the state of Florida, where I am now. presently, I'm a Computer Science student with a love for poetry,
		and my partner, of course. as of the 27th of March, 2024, I will be 20 years old- I'm living my best life
		and making my dreams come to fruition, including being the proud owner of my own indie media studio known as
		Team Grit MEDIA, LLC.

		Enough about myself though, how about I tell you more about Omari himself?
	</p>

	<h1>Fursona lore</h1>
	<p>
		20 years ago, Omari was born in a small village known as "Tidemere", situated on a small plateau,
		a rather cavernous, yet lush, and vibrant place, full of fluffy Mustelids, like the otter himself.
		Omari would often play with the other Sea Otters in the lucent sea water surrounding them,
		as he came from a poor background, his family would often struggle to simply put food on the table,
		as such, Omari became somewhat of a street urchin, doing wrong to make a right, he would pickpocket
		the wealthy and use the money he stole to purchase food for his family, to make ends meet without
		proper work. As Omari grew older, he became tired of his humble home, and sought to find his greater
		purpose in life, as surely there's something more grand just waiting for him in the outside world.
	</p>

	<p>
		Omari became a nomad of sorts, travelling this delightfully chaotic, yet serene world, seeking
		mental tranquility, the mindful realization of having a greater purpose, and knowing what it is,
		one day, during his travels, he stumbled across the most beautiful man he had ever seen, a collie
		named Liam- the moment Omari laid eyes on him, he knew there was something special about this man,
		and he wanted to take life slow, and try his best to connect with him on a deeper level, and see
		where things go, Omari and Liam hit it off, the more they bonded, listened to each others' tales
		of life, the more they fell for each other, one day, Omari confessed his romantic feelings to
		Liam, much to his surprise, yet.. there was a mutual sense of peace and happiness, in that moment
		they shared a kiss that changed their lives forever, before they knew it, they became one, a
		married couple, living in a humble abode they can happily call their own.
	</p>

	<h1>Thank you for reading!</h1>
</Layout>
