---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="@OtterlyOmari | Credits"
	description="Lorem ipsum dolor sit amet"
	pubDate={new Date('March 4 2024')}
	heroImage="/blog-placeholder-about.jpg"
>
	<h1>Credits</h1>
	<p>
		Homepage artwork by Spencer Derg and KoshieDoesArt

	</p>

</Layout>
