---
import BaseHead from '../components/BaseHead.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en" transition:animate="fade">
	<head>
		<BaseHead title={"OtterlyOmari"} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>
		
		<script src="/src/scripts/hackermantm.js"></script>

		<main id="content">
			<div id="home-section">
				<a href="/">
					<img src="/logo.png" class="image">
				</a>
				<br>
				<h5 class="t-outline" style="text-align: center;">the cute motherfluffer your mom warned you about</h5>
				<br>
				<ul id="icons01" class="icons">
					<li>
						<a class="n01" href="https://www.youtube.com/@otterlyomari" role="button"><svg aria-labelledby="icons01-icon-1-title" id="icons01-yt"><title id="icons01-icon-1-title">YouTube</title><use xlink:href="#icon-a63c85b2b6ee333b6d6753e57c8dfe0a"></use><symbol id="icon-a63c85b2b6ee333b6d6753e57c8dfe0a" viewBox="0 0 60 60"><path d="M37.6,27.1c0,0-0.3,2.4-1.4,3.5c-1.4,1.4-2.9,1.4-3.6,1.5c-5,0.4-12.4,0.4-12.4,0.4s-9.2-0.1-12.1-0.4 c-0.8-0.1-2.6-0.1-3.9-1.5c-1.1-1.1-1.4-3.5-1.4-3.5s-0.4-2.9-0.4-5.7v-2.7c0-2.9,0.4-5.7,0.4-5.7s0.3-2.4,1.4-3.5 C5.5,8,7,8,7.7,7.9c5-0.4,12.4-0.4,12.4-0.4h0c0,0,7.5,0,12.4,0.4C33.3,8,34.8,8,36.2,9.4c1.1,1.1,1.4,3.5,1.4,3.5s0.4,2.9,0.4,5.7 v2.7C37.9,24.2,37.6,27.1,37.6,27.1z M16.5,14.6l0,9.9l9.6-5L16.5,14.6z"></path></symbol></svg></a>
					</li>
					<li>
						<a class="n02" href="https://bsky.app/profile/otterlyomari.furry.ac" role="button"><svg aria-labelledby="icons01-icon-2-title"><title id="icons01-icon-2-title">Bluesky</title><use xlink:href="#icon-1b9d22f28a94f964a5d0b2d02198576b"></use><symbol id="icon-1b9d22f28a94f964a5d0b2d02198576b" viewBox="0 0 60 60"><path d="M20,19.7c-1.6-3.1-5.9-8.8-9.9-11.6C6.2,5.4,4.8,5.9,3.8,6.3C2.7,6.8,2.5,8.5,2.5,9.5s0.6,8.2,0.9,9.4 c1.2,4,5.4,5.3,9.3,4.9c0.2,0,0.4-0.1,0.6-0.1c-0.2,0-0.4,0.1-0.6,0.1C7,24.7,1.9,26.8,8.6,34.2c7.3,7.6,10-1.6,11.4-6.3 c1.4,4.7,3,13.5,11.3,6.3c6.2-6.3,1.7-9.5-4-10.3c-0.2,0-0.4,0-0.6-0.1c0.2,0,0.4,0.1,0.6,0.1c3.9,0.4,8.1-0.9,9.3-4.9 c0.4-1.2,0.9-8.4,0.9-9.4s-0.2-2.7-1.3-3.2c-1-0.4-2.4-0.9-6.3,1.8C25.9,10.9,21.6,16.7,20,19.7z"></path></symbol></svg></a>
					</li>
					<li>
						<a class="n03" href="https://discord.gg/3wRDaK3pwy" role="button"><svg aria-labelledby="icons01-icon-3-title"><title id="icons01-icon-3-title">Discord</title><use xlink:href="#icon-3b7eeeccbb457780f277fce4669f67a0"></use><symbol id="icon-3b7eeeccbb457780f277fce4669f67a0" viewBox="0 0 60 60"><path d="M33.2,8.3c-2.5-1.1-5.1-1.9-7.9-2.4c-0.3,0.6-0.7,1.4-1,2c-2.9-0.4-5.8-0.4-8.7,0c-0.3-0.6-0.7-1.4-1-2 c-2.8,0.5-5.4,1.3-7.9,2.4c-5,7.2-6.3,14.2-5.6,21.1c3.3,2.3,6.5,3.8,9.6,4.7c0.8-1,1.5-2.1,2.1-3.3c-1.1-0.4-2.2-0.9-3.2-1.5 c0.3-0.2,0.5-0.4,0.8-0.6c6.3,2.8,13,2.8,19.2,0c0.3,0.2,0.5,0.4,0.8,0.6c-1,0.6-2.1,1.1-3.2,1.5c0.6,1.1,1.3,2.2,2.1,3.3 c3.1-0.9,6.3-2.4,9.6-4.7C39.7,21.4,37.5,14.4,33.2,8.3z M13.7,25.1c-1.9,0-3.4-1.7-3.4-3.7s1.5-3.7,3.4-3.7c1.9,0,3.5,1.7,3.4,3.7 C17.1,23.4,15.6,25.1,13.7,25.1z M26.3,25.1c-1.9,0-3.4-1.7-3.4-3.7s1.5-3.7,3.4-3.7c1.9,0,3.5,1.7,3.4,3.7 C29.7,23.4,28.2,25.1,26.3,25.1z"></path></symbol></svg></a>
					</li>
				</ul>
				<ul id="icons02" class="icons">
					<li>
						<a class="n02" href="https://open.spotify.com/artist/20blxN25QMgBZyDoheCuKS?si=vt39RrCfT7eGi_TM6CSelw"><svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="140" height="140" viewBox="0 0 60 60"><title id="icons01-icon-3-title">Spotify Artist Profile</title><linearGradient id="tS~Tu1dsT5kMXF2Lct~HUa_G9XXzb9XaEKX_gr1" x1="24.001" x2="24.001" y1="-4.765" y2="56.31" gradientUnits="userSpaceOnUse"><stop offset="0" stop-color="#4caf50"></stop><stop offset=".489" stop-color="#4aaf50"></stop><stop offset=".665" stop-color="#43ad50"></stop><stop offset=".79" stop-color="#38aa50"></stop><stop offset=".892" stop-color="#27a550"></stop><stop offset=".978" stop-color="#11a050"></stop><stop offset="1" stop-color="#0a9e50"></stop></linearGradient><path fill="url(#tS~Tu1dsT5kMXF2Lct~HUa_G9XXzb9XaEKX_gr1)" d="M24.001,4c-11.077,0-20,8.923-20,20s8.923,20,20,20c11.076,0,20-8.923,20-20	S35.077,4,24.001,4z"></path><path d="M21.224,15.938c5.554,0,11.4,1.17,15.785,3.654c0.584,0.293,1.022,0.877,1.022,1.754 c-0.145,1.023-0.877,1.755-1.899,1.755c-0.438,0-0.585-0.146-1.023-0.291c-3.508-2.047-8.769-3.217-13.885-3.217 c-2.631,0-5.262,0.293-7.6,0.877c-0.293,0-0.585,0.146-1.023,0.146c-0.075,0.011-0.149,0.016-0.221,0.016 c-0.905,0-1.533-0.821-1.533-1.77c0-1.023,0.585-1.607,1.315-1.754C14.939,16.231,17.862,15.938,21.224,15.938 M20.785,22.369 c4.97,0,9.793,1.17,13.593,3.507c0.584,0.291,0.877,0.877,0.877,1.461c0,0.878-0.585,1.608-1.462,1.608 c-0.438,0-0.73-0.144-1.023-0.291c-3.068-1.9-7.308-3.071-12.13-3.071c-2.339,0-4.531,0.293-6.139,0.733 c-0.439,0.144-0.585,0.144-0.877,0.144c-0.877,0-1.462-0.73-1.462-1.461c0-0.877,0.439-1.316,1.169-1.607 C15.523,22.808,17.716,22.369,20.785,22.369 M21.223,28.654c4.093,0,7.893,1.021,11.108,2.924 c0.438,0.291,0.731,0.584,0.731,1.314c-0.146,0.586-0.731,1.023-1.315,1.023c-0.292,0-0.585-0.145-0.877-0.292 c-2.777-1.607-6.139-2.484-9.792-2.484c-2.047,0-4.093,0.291-5.993,0.73c-0.292,0-0.731,0.146-0.877,0.146 c-0.731,0-1.169-0.586-1.169-1.17c0-0.73,0.438-1.17,1.023-1.314C16.4,28.945,18.739,28.654,21.223,28.654 M21.224,14.938 c-3.789,0-6.666,0.371-9.317,1.202c-1.254,0.279-2.06,1.341-2.06,2.722c0,1.553,1.112,2.77,2.533,2.77 c0.095,0,0.192-0.005,0.291-0.017c0.319-0.007,0.574-0.065,0.764-0.107c0.068-0.015,0.13-0.035,0.193-0.038h0.123l0.116-0.03 c2.219-0.554,4.763-0.847,7.358-0.847c5.073,0,10.075,1.152,13.381,3.081l0.09,0.053l0.099,0.033 c0.109,0.036,0.195,0.073,0.273,0.105c0.251,0.105,0.563,0.236,1.065,0.236c1.483,0,2.671-1.075,2.889-2.615l0.01-0.07v-0.071 c0-1.171-0.564-2.13-1.549-2.635C33.238,16.313,27.314,14.938,21.224,14.938L21.224,14.938z M20.785,21.369 c-3.291,0-5.651,0.508-7.711,1.057l-0.058,0.015l-0.055,0.022c-1.194,0.476-1.799,1.329-1.799,2.536 c0,1.357,1.104,2.461,2.462,2.461c0.371,0,0.626-0.009,1.189-0.194c1.572-0.429,3.714-0.683,5.827-0.683 c4.441,0,8.562,1.037,11.603,2.921l0.038,0.024l0.04,0.02c0.334,0.168,0.792,0.397,1.471,0.397c1.404,0,2.462-1.121,2.462-2.608 c0-0.996-0.53-1.886-1.387-2.334C31.04,22.659,26.04,21.369,20.785,21.369L20.785,21.369z M21.223,27.654 c-2.547,0-4.969,0.297-7.404,0.907c-1.096,0.27-1.78,1.145-1.78,2.284c0,1.217,0.953,2.17,2.169,2.17 c0.172,0,0.334-0.037,0.522-0.079c0.101-0.023,0.288-0.065,0.357-0.067l0.101-0.003l0.122-0.023 c2.023-0.467,3.963-0.704,5.768-0.704c3.422,0,6.635,0.812,9.291,2.35l0.025,0.015l0.026,0.013 c0.334,0.168,0.792,0.399,1.327,0.399c1.05,0,2.032-0.766,2.285-1.781l0.03-0.119v-0.123c0-1.202-0.595-1.76-1.178-2.147 l-0.022-0.014l-0.022-0.013C29.455,28.713,25.437,27.654,21.223,27.654L21.223,27.654z" opacity=".05"></path><path d="M21.224,15.938c5.554,0,11.4,1.17,15.785,3.654c0.584,0.293,1.022,0.877,1.022,1.754 c-0.145,1.023-0.877,1.755-1.899,1.755c-0.438,0-0.585-0.146-1.023-0.291c-3.508-2.047-8.769-3.217-13.885-3.217 c-2.631,0-5.262,0.293-7.6,0.877c-0.293,0-0.585,0.146-1.023,0.146c-0.075,0.011-0.149,0.016-0.221,0.016 c-0.905,0-1.533-0.821-1.533-1.77c0-1.023,0.585-1.607,1.315-1.754C14.939,16.231,17.862,15.938,21.224,15.938 M20.785,22.369 c4.97,0,9.793,1.17,13.593,3.507c0.584,0.291,0.877,0.877,0.877,1.461c0,0.878-0.585,1.608-1.462,1.608 c-0.438,0-0.73-0.144-1.023-0.291c-3.068-1.9-7.308-3.071-12.13-3.071c-2.339,0-4.531,0.293-6.139,0.733 c-0.439,0.144-0.585,0.144-0.877,0.144c-0.877,0-1.462-0.73-1.462-1.461c0-0.877,0.439-1.316,1.169-1.607 C15.523,22.808,17.716,22.369,20.785,22.369 M21.223,28.654c4.093,0,7.893,1.021,11.108,2.924 c0.438,0.291,0.731,0.584,0.731,1.314c-0.146,0.586-0.731,1.023-1.315,1.023c-0.292,0-0.585-0.145-0.877-0.292 c-2.777-1.607-6.139-2.484-9.792-2.484c-2.047,0-4.093,0.291-5.993,0.73c-0.292,0-0.731,0.146-0.877,0.146 c-0.731,0-1.169-0.586-1.169-1.17c0-0.73,0.438-1.17,1.023-1.314C16.4,28.945,18.739,28.654,21.223,28.654 M21.224,15.438 c-3.747,0-6.582,0.366-9.188,1.186c-1.042,0.222-1.689,1.078-1.689,2.238c0,1.273,0.893,2.27,2.033,2.27 c0.084,0,0.169-0.005,0.257-0.016c0.28-0.004,0.506-0.055,0.689-0.096c0.119-0.027,0.222-0.05,0.299-0.05h0.061l0.06-0.015 c2.258-0.564,4.844-0.862,7.479-0.862c5.158,0,10.254,1.177,13.633,3.149l0.045,0.026l0.05,0.016 c0.123,0.041,0.221,0.082,0.309,0.119c0.231,0.097,0.47,0.197,0.871,0.197c1.247,0,2.209-0.878,2.394-2.185l0.005-0.035v-0.035 c0-0.985-0.473-1.787-1.298-2.201C33.083,16.794,27.24,15.438,21.224,15.438L21.224,15.438z M20.785,21.869 c-3.054,0-5.24,0.416-7.583,1.04l-0.029,0.008l-0.028,0.011c-0.637,0.254-1.484,0.745-1.484,2.071c0,0.943,0.75,1.961,1.962,1.961 c0.34,0,0.541-0.008,1.033-0.169c1.637-0.447,3.827-0.708,5.983-0.708c4.533,0,8.747,1.064,11.867,2.996 c0.345,0.175,0.725,0.366,1.286,0.366c1.119,0,1.962-0.906,1.962-2.108c0-0.823-0.442-1.554-1.154-1.909 C30.885,23.141,25.965,21.869,20.785,21.869L20.785,21.869z M21.223,28.154c-2.506,0-4.888,0.292-7.283,0.892 c-0.864,0.213-1.401,0.902-1.401,1.799c0,0.821,0.624,1.67,1.669,1.67c0.116,0,0.246-0.029,0.411-0.067 c0.148-0.033,0.351-0.079,0.466-0.079h0.057l0.056-0.013c2.06-0.476,4.038-0.717,5.88-0.717c3.51,0,6.809,0.836,9.542,2.417 c0.331,0.168,0.712,0.359,1.127,0.359c0.827,0,1.601-0.603,1.8-1.402l0.015-0.06v-0.061c0-1.012-0.493-1.424-0.954-1.73 C29.277,29.189,25.348,28.154,21.223,28.154L21.223,28.154z" opacity=".07"></path><path fill="#fff" d="M31.747,33.915c-0.292,0-0.585-0.145-0.877-0.292c-2.777-1.607-6.139-2.484-9.792-2.484 c-2.047,0-4.093,0.291-5.993,0.73c-0.292,0-0.731,0.146-0.877,0.146c-0.731,0-1.169-0.586-1.169-1.17 c0-0.73,0.438-1.17,1.023-1.314c2.338-0.586,4.677-0.877,7.161-0.877c4.093,0,7.893,1.021,11.108,2.924 c0.438,0.291,0.731,0.584,0.731,1.314C32.916,33.478,32.331,33.915,31.747,33.915z M33.793,28.945c-0.438,0-0.73-0.144-1.023-0.291 c-3.068-1.9-7.308-3.071-12.13-3.071c-2.339,0-4.531,0.293-6.139,0.733c-0.439,0.144-0.585,0.144-0.877,0.144 c-0.877,0-1.462-0.73-1.462-1.461c0-0.877,0.439-1.316,1.169-1.607c2.192-0.584,4.385-1.023,7.454-1.023 c4.97,0,9.793,1.17,13.593,3.507c0.584,0.291,0.877,0.877,0.877,1.461C35.255,28.215,34.67,28.945,33.793,28.945z M36.132,23.101 c-0.438,0-0.585-0.146-1.023-0.291c-3.508-2.047-8.769-3.217-13.885-3.217c-2.631,0-5.262,0.293-7.6,0.877 c-0.293,0-0.585,0.146-1.023,0.146c-1.023,0.146-1.754-0.73-1.754-1.754c0-1.023,0.585-1.607,1.315-1.754 c2.777-0.877,5.7-1.17,9.062-1.17c5.554,0,11.4,1.17,15.785,3.654c0.584,0.293,1.022,0.877,1.022,1.754 C37.886,22.369,37.154,23.101,36.132,23.101z"></path></svg></a>
					</li>
					<li>
						<a class="n03" href="https://www.twitch.tv/otterlyomarittv"><svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="140" height="140" viewBox="0 0 60 60"><title id="icons01-icon-3-title">Twitch</title><path fill="#8343c8" d="M41.754,27.958l-8.455,9.699C33.109,37.875,32.834,38,32.545,38H26.37	c-0.239,0-0.47,0.085-0.651,0.241l-6.438,5.519C19.1,43.915,18.869,44,18.63,44H17c-0.552,0-1-0.448-1-1v-4c0-0.552-0.448-1-1-1H7	c-0.552,0-1-0.448-1-1V15.943c0-0.156,0.036-0.309,0.106-0.448l3.981-7.943C10.257,7.214,10.603,7,10.981,7H41c0.552,0,1,0.448,1,1	v19.301C42,27.543,41.913,27.776,41.754,27.958z"></path><path fill="#fafafa" d="M39,26.369c-1.667,1.877-3.333,3.754-5,5.631c-2.333,0-4.667,0-7,0c-2.333,2-4.667,4-7,6c0-2,0-4,0-6	c-2.667-0.008-5.333-0.016-8-0.024C12,24.65,12,17.325,12,10c9,0,18,0,27,0C39,15.456,39,20.912,39,26.369z"></path><rect width="3" height="10" x="21" y="16" fill="#8343c8"></rect><rect width="3" height="10" x="30" y="16" fill="#8343c8"></rect></svg></a>
					</li>
				</ul>
				<button><a href="/about" class="no-deco"><h4 class="t-outline">About Me</h4></a></button>
				<button><a href="/" class="no-deco"><h4 class="t-outline">Fursona Lore (Coming Soon/WIP)</h4></a></button>
				<button><a href="/artwork" class="no-deco"><h4 class="t-outline">Fursona Artwork</h4></a></button>
				<button><a href="https://symphonyoftidemere.bandcamp.com/" class="no-deco"><h4 class="t-outline">My Music</h4></a></button>
				<button><a href="https://patreon.com/otterlyomari" class="no-deco"><h4 class="t-outline">Patreon</h4></a></button>
				<button><a href="https://ko-fi.com/otterlyomari" class="no-deco"><h4 class="t-outline">Donate</h4></a></button>
			</div>
		</main>
		<footer>
			<p style="text-align: center;" class="t-outline-w">Copyright © otterlyomari 2024–2025. All rights reserved. </p>
			<br>
		</footer>
		<style>
			main {
				backdrop-filter: blur(0.4rem);
				z-index: 9999;
				background-color: transparent;
			}

			span {
				opacity: 0;
			}

			.icons {
				display: flex;
				justify-content: var(--flex-alignment);
				letter-spacing: 0;
				padding: 0;
			}

			#icons01,
			#icons02
			{
				justify-content: center;
				font-size: 2em;
				gap: 0.375rem;
			}



			#icons01 .n01 svg {
				fill: #FF0000;
				-webkit-animation: scale-up 0.6s;
				/* Safari 4.0 - 8.0 */
				-webkit-animation-fill-mode: forwards;
				/* Safari 4.0 - 8.0 */
				animation: revert-scale 0.3s;
				animation-fill-mode: forwards;
				filter: 
				drop-shadow(-1px -1px 0px #000000) 
				drop-shadow(2px -1px 0px #000000) 
				drop-shadow(2px 2px 0px #000000)
				drop-shadow(-1px 2px 0px #000000)
			}

			#icons01 .n02 svg {
				fill: #008cff;
				-webkit-animation: scale-up 0.6s;
				/* Safari 4.0 - 8.0 */
				-webkit-animation-fill-mode: forwards;
				/* Safari 4.0 - 8.0 */
				animation: revert-scale 0.3s;
				animation-fill-mode: forwards;
				filter: 
				drop-shadow(-1px -1px 0px #000000) 
				drop-shadow(2px -1px 0px #000000) 
				drop-shadow(2px 2px 0px #000000)
				drop-shadow(-1px 2px 0px #000000)
			}

			
			#icons01 .n03 svg {
				fill: #7746ff;
				-webkit-animation: scale-up 0.6s;
				/* Safari 4.0 - 8.0 */
				-webkit-animation-fill-mode: forwards;
				/* Safari 4.0 - 8.0 */
				animation: revert-scale 0.3s;
				animation-fill-mode: forwards;
				filter: 
				drop-shadow(-1px -1px 0px #000000) 
				drop-shadow(2px -1px 0px #000000) 
				drop-shadow(2px 2px 0px #000000)
				drop-shadow(-1px 2px 0px #000000)
			}

			#icons02 .n01 svg {
				fill: #46a6ff;
				-webkit-animation: scale-up 0.6s;
				/* Safari 4.0 - 8.0 */
				-webkit-animation-fill-mode: forwards;
				/* Safari 4.0 - 8.0 */
				animation: revert-scale 0.3s;
				animation-fill-mode: forwards;
				filter: 
				drop-shadow(-1px -1px 0px #000000) 
				drop-shadow(2px -1px 0px #000000) 
				drop-shadow(2px 2px 0px #000000)
				drop-shadow(-1px 2px 0px #000000)
			}

			#icons02 .n02 svg {
				fill: #00ff55;
				-webkit-animation: scale-up 0.6s;
				/* Safari 4.0 - 8.0 */
				-webkit-animation-fill-mode: forwards;
				/* Safari 4.0 - 8.0 */
				animation: revert-scale 0.3s;
				animation-fill-mode: forwards;
				filter: 
				drop-shadow(-1px -1px 0px #000000) 
				drop-shadow(2px -1px 0px #000000) 
				drop-shadow(2px 2px 0px #000000)
				drop-shadow(-1px 2px 0px #000000)
			}


				#icons02 .n03 svg {
				-webkit-animation: scale-up 0.6s;
				/* Safari 4.0 - 8.0 */
				-webkit-animation-fill-mode: forwards;
				/* Safari 4.0 - 8.0 */
				animation: revert-scale 0.3s;
				animation-fill-mode: forwards;
				filter: 
				drop-shadow(-1px -1px 0px #000000) 
				drop-shadow(2px -1px 0px #000000) 
				drop-shadow(2px 2px 0px #000000)
				drop-shadow(-1px 2px 0px #000000)
			}



			#icons01 .n01 svg:hover,
			#icons01 .n02 svg:hover,
			#icons01 .n03 svg:hover
			 {
				-webkit-animation-fill-mode: forwards;
				animation: scale-up 0.5s;
				animation-fill-mode: forwards;
			}

			#icons02 .n01 svg:hover,
			#icons02 .n02 svg:hover,
			#icons02 .n03 svg:hover
			 {
				-webkit-animation-fill-mode: forwards;
				animation: scale-up 0.5s;
				animation-fill-mode: forwards;
			}

			ul {
				list-style: none;
			}

		</style>
	</body>


</html>
