---
import BaseHead from '../components/BaseHead.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en" transition:animate="fade">
	<head>
		<BaseHead title={"OtterlyOmari"} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>
		
		<script src="/src/scripts/hackermantm.js"></script>

		<main id="content">
			<div id="home-section">
				<a href="/">
					<img src="/logo.png" class="image">
				</a>
				<br>
				<h5 class="t-outline" style="text-align: center;">the cute motherfluffer your mom warned you about</h5>
				<ul id="icons01" class="icons">
					<li>
						<a class="n01" href="https://www.youtube.com/@otterlyomari" role="button"><svg aria-labelledby="icons01-icon-1-title" id="icons01-yt"><title id="icons01-icon-1-title">YouTube</title><use xlink:href="#icon-a63c85b2b6ee333b6d6753e57c8dfe0a"></use><symbol id="icon-a63c85b2b6ee333b6d6753e57c8dfe0a" viewBox="0 0 60 60"><path d="M37.6,27.1c0,0-0.3,2.4-1.4,3.5c-1.4,1.4-2.9,1.4-3.6,1.5c-5,0.4-12.4,0.4-12.4,0.4s-9.2-0.1-12.1-0.4 c-0.8-0.1-2.6-0.1-3.9-1.5c-1.1-1.1-1.4-3.5-1.4-3.5s-0.4-2.9-0.4-5.7v-2.7c0-2.9,0.4-5.7,0.4-5.7s0.3-2.4,1.4-3.5 C5.5,8,7,8,7.7,7.9c5-0.4,12.4-0.4,12.4-0.4h0c0,0,7.5,0,12.4,0.4C33.3,8,34.8,8,36.2,9.4c1.1,1.1,1.4,3.5,1.4,3.5s0.4,2.9,0.4,5.7 v2.7C37.9,24.2,37.6,27.1,37.6,27.1z M16.5,14.6l0,9.9l9.6-5L16.5,14.6z"></path></symbol></svg></a>
					</li>
					<li>
						<a class="n02" href="https://bsky.app/profile/otterlyomari.furry.ac" role="button"><svg aria-labelledby="icons01-icon-2-title"><title id="icons01-icon-2-title">Bluesky</title><use xlink:href="#icon-1b9d22f28a94f964a5d0b2d02198576b"></use><symbol id="icon-1b9d22f28a94f964a5d0b2d02198576b" viewBox="0 0 60 60"><path d="M20,19.7c-1.6-3.1-5.9-8.8-9.9-11.6C6.2,5.4,4.8,5.9,3.8,6.3C2.7,6.8,2.5,8.5,2.5,9.5s0.6,8.2,0.9,9.4 c1.2,4,5.4,5.3,9.3,4.9c0.2,0,0.4-0.1,0.6-0.1c-0.2,0-0.4,0.1-0.6,0.1C7,24.7,1.9,26.8,8.6,34.2c7.3,7.6,10-1.6,11.4-6.3 c1.4,4.7,3,13.5,11.3,6.3c6.2-6.3,1.7-9.5-4-10.3c-0.2,0-0.4,0-0.6-0.1c0.2,0,0.4,0.1,0.6,0.1c3.9,0.4,8.1-0.9,9.3-4.9 c0.4-1.2,0.9-8.4,0.9-9.4s-0.2-2.7-1.3-3.2c-1-0.4-2.4-0.9-6.3,1.8C25.9,10.9,21.6,16.7,20,19.7z"></path></symbol></svg></a>
					</li>
					<li>
						<a class="n03" href="https://discord.gg/3wRDaK3pwy" role="button"><svg aria-labelledby="icons01-icon-3-title"><title id="icons01-icon-3-title">Discord</title><use xlink:href="#icon-3b7eeeccbb457780f277fce4669f67a0"></use><symbol id="icon-3b7eeeccbb457780f277fce4669f67a0" viewBox="0 0 60 60"><path d="M33.2,8.3c-2.5-1.1-5.1-1.9-7.9-2.4c-0.3,0.6-0.7,1.4-1,2c-2.9-0.4-5.8-0.4-8.7,0c-0.3-0.6-0.7-1.4-1-2 c-2.8,0.5-5.4,1.3-7.9,2.4c-5,7.2-6.3,14.2-5.6,21.1c3.3,2.3,6.5,3.8,9.6,4.7c0.8-1,1.5-2.1,2.1-3.3c-1.1-0.4-2.2-0.9-3.2-1.5 c0.3-0.2,0.5-0.4,0.8-0.6c6.3,2.8,13,2.8,19.2,0c0.3,0.2,0.5,0.4,0.8,0.6c-1,0.6-2.1,1.1-3.2,1.5c0.6,1.1,1.3,2.2,2.1,3.3 c3.1-0.9,6.3-2.4,9.6-4.7C39.7,21.4,37.5,14.4,33.2,8.3z M13.7,25.1c-1.9,0-3.4-1.7-3.4-3.7s1.5-3.7,3.4-3.7c1.9,0,3.5,1.7,3.4,3.7 C17.1,23.4,15.6,25.1,13.7,25.1z M26.3,25.1c-1.9,0-3.4-1.7-3.4-3.7s1.5-3.7,3.4-3.7c1.9,0,3.5,1.7,3.4,3.7 C29.7,23.4,28.2,25.1,26.3,25.1z"></path></symbol></svg></a>
					</li>
				</ul>
				<button><a href="/about" class="no-deco"><h4 class="t-outline">About Me</h4></a></button>
				<button><a href="/" class="no-deco"><h4 class="t-outline">Fursona Lore (Coming Soon/WIP)</h4></a></button>
				<button><a href="/artwork" class="no-deco"><h4 class="t-outline">Fursona Artwork</h4></a></button>
				<button><a href="https://symphonyoftidemere.bandcamp.com/" class="no-deco"><h4 class="t-outline">My Music</h4></a></button>
				<button><a href="https://youtu.be/hB7CDrVnNCs?si=xJ44iY7OX5P0temF" class="no-deco"><h4 class="t-outline">OnlyFans 🔞</h4></a></button>
				<button><a href="https://patreon.com/otterlyomari" class="no-deco"><h4 class="t-outline">Patreon</h4></a></button>
				<button><a href="https://ko-fi.com/otterlyomari" class="no-deco"><h4 class="t-outline">Donate</h4></a></button>
			</div>
		</main>
		<style>
			main {
				backdrop-filter: blur(0.4rem);
				z-index: 9999;
				background-color: transparent;
			}

			span {
				opacity: 0;
			}

			.icons {
				display: flex;
				justify-content: var(--flex-alignment);
				letter-spacing: 0;
				padding: 0;
			}

			#icons01 {
				justify-content: center;
				font-size: 2em;
				gap: 0.375rem;
			}

			#icons01 .n01 svg {
				fill: #FF0000;
				-webkit-animation: scale-up 0.6s;
				/* Safari 4.0 - 8.0 */
				-webkit-animation-fill-mode: forwards;
				/* Safari 4.0 - 8.0 */
				animation: revert-scale 0.3s;
				animation-fill-mode: forwards;
				filter: 
				drop-shadow(-1px -1px 0px #000000) 
				drop-shadow(2px -1px 0px #000000) 
				drop-shadow(2px 2px 0px #000000)
				drop-shadow(-1px 2px 0px #000000)
			}

			#icons01 .n02 svg {
				fill: #008cff;
				-webkit-animation: scale-up 0.6s;
				/* Safari 4.0 - 8.0 */
				-webkit-animation-fill-mode: forwards;
				/* Safari 4.0 - 8.0 */
				animation: revert-scale 0.3s;
				animation-fill-mode: forwards;
				filter: 
				drop-shadow(-1px -1px 0px #000000) 
				drop-shadow(2px -1px 0px #000000) 
				drop-shadow(2px 2px 0px #000000)
				drop-shadow(-1px 2px 0px #000000)
			}

			
			#icons01 .n03 svg {
				fill: #7746ff;
				-webkit-animation: scale-up 0.6s;
				/* Safari 4.0 - 8.0 */
				-webkit-animation-fill-mode: forwards;
				/* Safari 4.0 - 8.0 */
				animation: revert-scale 0.3s;
				animation-fill-mode: forwards;
				filter: 
				drop-shadow(-1px -1px 0px #000000) 
				drop-shadow(2px -1px 0px #000000) 
				drop-shadow(2px 2px 0px #000000)
				drop-shadow(-1px 2px 0px #000000)
			}

			#icons01 .n04 svg {
				fill: #46a6ff;
				-webkit-animation: scale-up 0.6s;
				/* Safari 4.0 - 8.0 */
				-webkit-animation-fill-mode: forwards;
				/* Safari 4.0 - 8.0 */
				animation: revert-scale 0.3s;
				animation-fill-mode: forwards;
				filter: 
				drop-shadow(-1px -1px 0px #000000) 
				drop-shadow(2px -1px 0px #000000) 
				drop-shadow(2px 2px 0px #000000)
				drop-shadow(-1px 2px 0px #000000)
			}



			#icons01 .n01 svg:hover,
			#icons01 .n02 svg:hover,
			#icons01 .n03 svg:hover
			#icons01 .n04 svg:hover
			 {
				-webkit-animation-fill-mode: forwards;
				animation: scale-up 0.5s;
				animation-fill-mode: forwards;
			}

			ul {
				list-style: none;
			}

		</style>
	</body>


</html>
