---
const today = new Date();
const {
	class: className = "t-outline-w"
} = Astro.props;
---

<footer>
	<p style="text-align: center;" class={`${className}`}>Copyright © Omari Tidemere {today.getFullYear()} All rights reserved.</p>
</footer>